
html {
  font-family: serif;

}
body {
  background-color: black;
  font-size: 1.2em;
  line-height: 1.4;
  max-width: 100%;
  color: gainsboro;
}
p{
max-width: 30em;
margin-bottom: 1.8em;
}
h1, h2, h3, h4, h5, h6 {
line-height: 0.1em;
}
a,
a:visited {
  color: #CBB9B6;
  font-style: italic;
}

img {
  padding: 1em;
}
