body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    background-color: Tomato;
    color: #262626;
    max-width: 1400px;
}


    /* Nothing here yet, (This file is waiting your customizations) */
